.form-question
    .container
        .form__wrap
            h2 Остались вопросы?
            p Оставьте свои контакты, и наш менеджер свяжется с Вами. Также Вы можете прикрепить готовые чертежи для расчета
            form(action="#")
                input(type="text", placeholder="Имя")
                input(type="text", placeholder="Телефон")
                input(type="text", placeholder="E-mail")
                textarea(name="text", cols="30", rows="10", placeholder="Комментарий")
                .form__btn
                    .form__col
                        .form__row
                            input(type="file")#file.file
                            label(for="file")
                                span.fakebutton
                                    img(src="./images/icon/clip.svg", alt="clip")
                                span.filetext Прикрепить файл(ы) для расчета
                        .form__row
                            input(type="checkbox", name="check")#check
                            label(for="check") Согласен с политикой конфиденциальности
                    input(type="submit", value="Отправить")
        .form__contct
            h4 Контакты
            a(href="tel:+79130030012")
                img(src="./images/icon/phone.svg", alt="phone")
                | +7(913)003-00-12
            a(href="mailto:snt54@mail.ru")
                img(src="./images/icon/mail.svg", alt="mail")
                | snt54@mail.ru
            p
                img(src="./images/icon/map.svg", alt="map")
                | г. Новосибирск, ул. Станционная,  38к 5/4

